<div class="content">
  <div class="header">
    <p class="middle-text">{{text_display}}
    <p class="middle-text">{{text_display2}}
  </div>


  <div class="line">
    <div class="left1">
      <a class="item" routerLink="/blog-detail" routerLinkActive="active">
        <img class="photo" src="../assets/blogs/image/11.JPG" id="10" (click)="sendMessage($event, 'Hanbok, the apple of my eyes')">
      </a>
    </div>

    <div class="middle1">
      <div class="horizontal-line">
        <br/>
        <br/>
        <hr class="title-line">
      </div>
      <div class="title">
        <a class="word-link" routerLink="/blog-detail" routerLinkActive="active" (click)="sendMessageByNumber(11, 'Finally I met you')">
          <p class="blog-word"> Finally I met you
          <p > @Seoul </p>
        </a>
      </div>
    </div>

    <div class="right1">
      <a class="item" routerLink="/blog-detail" routerLinkActive="active">
        <img class="photo" src="../assets/blogs/image/12.JPG" id="12" (click)="sendMessage($event, 'Close to the Sea')">
      </a>
    </div>
  </div>

  <div class="line2">
    <div class="left2">
      <div class="horizontal-line">
        <br/>
        <br/>
        <hr class="title-line">
      </div>
      <div class="title">
        <a class="word-link" routerLink="/blog-detail" routerLinkActive="active" (click)="sendMessageByNumber(10, 'Hanbok, the apple of my eyes')">
          <p> Hanbok, the apple of my eyes
          <p> @Seoul</p>
        </a>
      </div>
    </div>

    <div class="middle2">
      <a class="item" routerLink="/blog-detail" routerLinkActive="active">
        <img class="photo" src="../assets/blogs/image/10.JPG" id="11" (click)="sendMessage($event, 'Finally I met you')">
      </a>
    </div>

    <div class="right2">
      <div class="horizontal-line">
        <br/>
        <br/>
        <hr class="title-line">
      </div>
      <div class="title" >
        <a class="word-link" routerLink="/blog-detail" routerLinkActive="active" (click)="sendMessageByNumber(12, 'Close to the Sea')">
          <p> Close to the Sea
          <p> @Gangeung
        </a>
      </div>

    </div>
  </div>

  <!--First Line -->
  <div class="line">
    <div class="left1">
      <a class="item" routerLink="/blog-detail" routerLinkActive="active">
        <img class="photo" src="../assets/blogs/image/7.JPG" id="7" (click)="sendMessage($event, 'Escape from the Winter @Texas')">
      </a>
    </div>

    <div class="middle1">
      <div class="horizontal-line">
        <br/>
        <br/>
        <hr class="title-line">
      </div>
      <div class="title">
        <a class="word-link" routerLink="/blog-detail" routerLinkActive="active" (click)="sendMessageByNumber(8, 'Ill See You Again')">
          <p> I'll See You Again
          <p> @Vancouver
          </p>
        </a>
      </div>
    </div>

    <div class="right1">
      <a class="item" routerLink="/blog-detail" routerLinkActive="active">
        <img class="photo" src="../assets/blogs/image/9.JPG" id="9" (click)="sendMessage($event, 'City of Flower')">
      </a>
    </div>
  </div>

  <div class="line2">
    <div class="left2">
      <div class="horizontal-line">
        <br/>
        <br/>
        <hr class="title-line">
      </div>
      <div class="title">
        <a class="word-link" routerLink="/blog-detail" routerLinkActive="active" (click)="sendMessageByNumber(7, 'Escape from the Winter @Texas')">
          <p> Escape from the Winter
          <p> @Texas </p>
        </a>
      </div>
    </div>

    <div class="middle2">
      <a class="item" routerLink="/blog-detail" routerLinkActive="active">
        <img class="photo" src="../assets/blogs/image/8.JPG" id="8" (click)="sendMessage($event, 'Ill See You Again')">
      </a>
    </div>

    <div class="right2">
      <div class="horizontal-line">
        <br/>
        <br/>
        <hr class="title-line">
      </div>
      <div class="title" >
        <a class="word-link" routerLink="/blog-detail" routerLinkActive="active" (click)="sendMessageByNumber(9, 'City of Flower')">
          <p> City of Flower
          <p> @Portland</p>
        </a>
      </div>

    </div>
  </div>




  <div class="line">
    <div class="left1">
      <a class="item" routerLink="/blog-detail" routerLinkActive="active">
        <img class="photo" src="../assets/blogs/image/1.JPG" id="1" (click)="sendMessage($event, 'Hey, Vegas')">
      </a>
    </div>

    <div class="middle1">
      <div class="horizontal-line">
        <br/>
        <br/>
        <hr class="title-line">
      </div>
      <div class="title">
        <a class="word-link" routerLink="/blog-detail" routerLinkActive="active" (click)="sendMessageByNumber(2, 'Rainy Mood')">
          <p> Rainy Mood
          <p> Life @ Seattle
          </p>
        </a>
      </div>
    </div>

    <div class="right1">
      <a class="item" routerLink="/blog-detail" routerLinkActive="active">
        <img class="photo" src="../assets/blogs/image/3.JPG" id="3" (click)="sendMessage($event, 'Go Bruins')">
      </a>
    </div>
  </div>

  <div class="line2">
    <div class="left2">
      <div class="horizontal-line">
        <br/>
        <br/>
        <hr class="title-line">
      </div>
      <div class="title">
        <a class="word-link" routerLink="/blog-detail" routerLinkActive="active" (click)="sendMessageByNumber(1, 'Hey, Vegas')">
          <p> Hey, Vegas
          <p> Las Vegas -> Phoenix </p>
        </a>
      </div>
    </div>

    <div class="middle2">
      <a class="item" routerLink="/blog-detail" routerLinkActive="active">
        <img class="photo" src="../assets/blogs/image/2.JPG" id="2" (click)="sendMessage($event, 'Rainy Mood')">
      </a>
    </div>

    <div class="right2">
      <div class="horizontal-line">
        <br/>
        <br/>
        <hr class="title-line">
      </div>
      <div class="title" >
        <a class="word-link" routerLink="/blog-detail" routerLinkActive="active" (click)="sendMessageByNumber(3, 'Go Bruins')">
         <p> Go Bruins
         <p> @Los Angeles</p>
        </a>
      </div>

    </div>
  </div>


  <div class="line">
    <div class="left1">
      <a class="item" routerLink="/blog-detail" routerLinkActive="active">
        <img class="photo" src="../assets/blogs/image/4.JPG" id="4" (click)="sendMessage($event, 'Wayward Kenting')">
      </a>
    </div>

    <div class="middle1">
      <div class="horizontal-line">
        <br/>
        <br/>
        <hr class="title-line">
      </div>
      <div class="title">
        <a class="word-link" routerLink="/blog-detail" routerLinkActive="active" (click)="sendMessageByNumber(5, 'Walking Under the Midnight Sun')">
          <p class="blog-word"> Walking Under the Midnight Sun
          <p > @San Diego </p>
        </a>
      </div>
    </div>

    <div class="right1">
      <a class="item" routerLink="/blog-detail" routerLinkActive="active">
        <img class="photo" src="../assets/blogs/image/6.JPG" id="6" (click)="sendMessage($event, 'All the way to the North')">
      </a>
    </div>
  </div>

  <div class="line2">
    <div class="left2">
      <div class="horizontal-line">
        <br/>
        <br/>
        <hr class="title-line">
      </div>
      <div class="title">
        <a class="word-link" routerLink="/blog-detail" routerLinkActive="active" (click)="sendMessageByNumber(4, 'Wayward Kenting')">
        <p> Wayward Kenting
        <p> @TaiWan</p>
        </a>
      </div>
    </div>

    <div class="middle2">
      <a class="item" routerLink="/blog-detail" routerLinkActive="active">
        <img class="photo" src="../assets/blogs/image/5.JPG" id="5" (click)="sendMessage($event, 'Walking Under the Midnight Sun')">
      </a>
    </div>

    <div class="right2">
      <div class="horizontal-line">
        <br/>
        <br/>
        <hr class="title-line">
      </div>
      <div class="title" >
        <a class="word-link" routerLink="/blog-detail" routerLinkActive="active" (click)="sendMessageByNumber(6, 'All the way to the North')">
        <p> All The Way to The north
        <p> LA -> San Franscio -> Solvang -> SB
        </a>
      </div>

    </div>
  </div>

</div>

