<div class="header">
  <div class="title">
    <p class="middle-text">
      {{title }}
    </p>
  </div>
  <div class="blogs">
    <div *ngIf='count == 1'>
      One car, 6 people, 7 days. <br/><br/>
      It's my first road trip since I came to the US. Juanli and Ailing flew from Chicago to LA to meet
      four of us and then we drove from Los Angeles directly to the Vegas.<br/><br/>
      Day 1: Sitting on the passenger's seat for 6 hours,
      my face got burnt. But I enjoyed helping the driver look at the GPS. We had a seafood buffet in the Caesar and settled down
      at the Hilton Hotel. We were almost late for the Kai Show, but luckily we got it. Though
      I don't quite understand what the show is about even after watching, I was still shocked by the
      fancy stage. One funny thing is that, Terry was trying the Slots in a Casino and got the lucky to
      win $17. He wanted to continue the gambling but the other five of us shouted "Stop" all together. We are on the
      same wavelength haha. <br/><br/>
      Day 2: After visiting the fire state park, we headed to Page. At page, we caught the splendid sunset. The dinner
      at a Mexico restaurant was a solic one. The waiter set the food on fire in front of us. <br/><br/>
      Day3:




    </div>

  <div *ngIf='count == 2' class="test">
    你离开的第五天，<br/>
    我依然，<br/>
    失败地没能戒掉你.<br/>
    如果可以选择失去一项技能，<br/>
    那么我会选择，<br/>
    不要对那些失去的美好，<br/>
    持有那么深刻的记忆。<br/><br/>

    我想，<br/>
    西雅图需要一场大雨，<br/>
    来冲刷你存在过的气息。<br/>
    哦不，<br/>
    最好是一场大雪，<br/>
    才能抹去你留下的痕迹。<br/><br/>

    在时差六小时的多伦多，<br/>
    是否，<br/>
    也有人像我一样，<br/>
    小心翼翼地为你准备惊喜？<br/>
    在微凉的西雅图的我，<br/>
    这几天不知道喝醉几次，<br/>
    醉了又醒。<br/><br/>

    你放心，<br/>
    从明天起，<br/>
    我会像以前那样，<br/>
    好好对自己。<br/>
    健身，读书，充实自己。<br/><br/>

    我只是，<br/>
    需要一点儿时间，<br/>
    来对抗我强大的记忆力。<br/>
    因为毕竟，<br/>
    你是我的独家记忆。<br/><br/>
    2017.09.07

  </div>

  <div *ngIf='count == 3'>
    ccc
  </div>

  <div *ngIf='count == 4'>
    ccc
  </div>

  <div *ngIf='count == 5'>
    ccc
  </div>

  <div *ngIf='count == 6'>
    ccc
  </div>

  </div>
</div>
