.content {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y:scroll;
}

.line {
  padding: 0vh;
  position: relative;
  width: 100%;
  height: 50%;
  background-color: white;
  text-align: center;
}

.line2 {
  padding: 3vh;
  position: relative;
  width: 100%;
  height: 50%;
  background-color: white;
  text-align: center;
}

.left1 {
  width: 25%;
  height: 100%;
  background-color: white;
  display: inline-block;
  overflow: hidden;
}

.middle1 {
  padding: 3vh;
  width: 25%;
  height: 100%;
  background-color: white;
  display: inline-block;
  overflow: hidden;
}

.right1 {
  width: 25%;
  height: 100%;
  background-color: white;
  display: inline-block;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 70%;
  background-color: #00aff0;
}

.words {
  margin: 2vh 0 0 0;
  width: 100%;
  height: 20%;
  background-color: #3B5998;
}

.left2 {
  padding: 3vh;
  width: 25%;
  height: 100%;
  background-color: white;
  display: inline-block;
  overflow: hidden;
}

.right2 {
  padding: 3vh;
  width: 25%;
  height: 100%;
  background-color: white;
  display: inline-block;
  overflow: hidden;
}

.middle2 {
  width: 25%;
  height: 100%;
  background-color: white;
  display: inline-block;
  overflow: hidden;
}

.horizontal-line{
  width: 100%;
  height: 30%;
  position: relative;
  background-color: white;
  overflow: auto;
  overflow: auto;
}

.title {
  width: 100%;
  height: 50%;
  position: relative;
  background-color: white;
  overflow: auto;
  text-align: left;
  font-size: medium;
  font-size: x-large;
  text-decoration: none;
  color: black;
}

.word-link{
  color: black;
  text-decoration: none;
}

.title-line {
  background-color: black;
  width: 30%;
  float: left;
  color: black;
  overflow: auto;
}

.middle-text {
  text-align: center;
  color: #ccc;
  font-size: x-large;
  position: relative;
  top: 20%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.header{
  width: 100%;
  height: 15%;
  background-color: white;
  text-align: center;
  font-size: xx-large;
}

.photo {
  height: 100%;
  width: 100%;
}

.word-link:hover {
  color: rgb(191,173,111);
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.item {
  text-decoration: None;
  position: relative;
  padding: 0;
  border: 1px solid #333;
  margin: 2%;
  overflow: hidden;
  width: 540px;
}

. img {
  max-width: 100%;

  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.item:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
