<div class="content">
  <div class="header">
  </div>

  <div class="line">
    <div class="left1">
      <a class="item" routerLink="/blog-detail" routerLinkActive="active">
        <img class="photo" src="../assets/blogs/image/1.JPG" alt="Mountain View">
      </a>
    </div>

    <div class="middle1">
      <div class="horizontal-line">
        <br/>
        <br/>
        <hr class="title-line">
      </div>
      <div class="title">
        <p > Walking Under the Midnight Sun
        <p > San Diego
      </div>
    </div>

    <div class="right1">
      <a class="item" routerLink="/blog-detail" routerLinkActive="active">
        <img class="photo" src="../assets/blogs/image/3.JPG" alt="Mountain View">
      </a>
    </div>
  </div>

  <div class="line2">
    <div class="left2">
      <div class="horizontal-line">
        <br/>
        <br/>
        <hr class="title-line">
      </div>
      <div class="title">
        <p> Hey, Vegas
        <p> Las Vegas -> Phoenix
      </div>
    </div>

    <div class="middle2">
      <a class="item" routerLink="/blog-detail" routerLinkActive="active">
      <img class="photo" src="../assets/blogs/image/5.JPG" alt="Mountain View">
      </a>
    </div>

    <div class="right2">
      <div class="horizontal-line">
        <br/>
        <br/>
        <hr class="title-line">
      </div>
      <div class="title" >
        <p> Go Bruins
        <p> LA
      </div>

    </div>
  </div>


  <div class="line">
    <div class="left1">
      <a class="item" routerLink="/blog-detail" routerLinkActive="active">
        <img class="photo" src="../assets/blogs/image/4.JPG" alt="Mountain View">
      </a>
    </div>

    <div class="middle1">
      <div class="horizontal-line">
        <br/>
        <br/>
        <hr class="title-line">
      </div>
      <div class="title">
        <p> Rainy Mood
        <p> Life @ Seattle
      </div>
    </div>

    <div class="right1">
      <a routerLink="/blog-detail" routerLinkActive="active">
        <img class="photo" src="../assets/blogs/image/6.JPG" alt="Mountain View">
      </a>
    </div>
  </div>

  <div class="line2">
    <div class="left2">
      <div class="horizontal-line">
        <br/>
        <br/>
        <hr class="title-line">
      </div>
      <div class="title">
        <p> Wayward Kenting
        <p> TaiWan
      </div>
    </div>

    <div class="middle2">
      <a class="item" routerLink="/blog-detail" routerLinkActive="active">
        <img class="photo" src="../assets/blogs/image/2.JPG" alt="Mountain View">
      </a>
    </div>

    <div class="right2">
      <div class="horizontal-line">
        <br/>
        <br/>
        <hr class="title-line">
      </div>
      <div class="title" >
        <p> All The Way to The north
        <p> LA -> San Franscio -> Solvang -> SB
      </div>

    </div>
  </div>

</div>

