<div class="header">
  <div class="title">
    <p class="middle-text">
      {{title }}
    </p>
  </div>
  <div class="blogs">
    <div *ngIf='count == 1'>
      One car, 6 people, 7 days. <br/><br/>
      It's my first road trip since I came to the US. Juanli and Ailing flew from Chicago to LA to meet
      four of us and then we drove from Los Angeles directly to the Vegas.<br/><br/>
      Day 1: Sitting on the passenger's seat for 6 hours,
      my face got burnt. But I enjoyed helping the driver look at the GPS. We had a seafood buffet in the Caesar and settled down
      at the Hilton Hotel. We were almost late for the Kai Show, but luckily we got it. Though
      I don't quite understand what the show is about even after watching, I was still shocked by the
      fancy stage. One funny thing is that, Terry was trying the Slots in a Casino and got the lucky to
      win $17. He wanted to continue the gambling but the other five of us shouted "Stop" all together. We are on the
      same wavelength haha. <br/><br/>
      Day 2: After visiting the fire state park, we headed to Page. At page, we caught the splendid sunset. The dinner
      at a Mexico restaurant was a solic one. The waiter set the food on fire in front of us. <br/><br/>
      Day3:




    </div>

  <div *ngIf='count == 2' class="test">
    你离开的第五天，<br/>
    我依然，<br/>
    失败地没能戒掉你.<br/>
    如果可以选择失去一项技能，<br/>
    那么我会选择，<br/>
    不要对那些失去的美好，<br/>
    持有那么深刻的记忆。<br/><br/>

    我想，<br/>
    西雅图需要一场大雨，<br/>
    来冲刷你存在过的气息。<br/>
    哦不，<br/>
    最好是一场大雪，<br/>
    才能抹去你留下的痕迹。<br/><br/>

    在时差六小时的多伦多，<br/>
    是否，<br/>
    也有人像我一样，<br/>
    小心翼翼地为你准备惊喜？<br/>
    在微凉的西雅图的我，<br/>
    这几天不知道喝醉几次，<br/>
    醉了又醒。<br/><br/>

    你放心，<br/>
    从明天起，<br/>
    我会像以前那样，<br/>
    好好对自己。<br/>
    健身，读书，充实自己。<br/><br/>

    我只是，<br/>
    需要一点儿时间，<br/>
    来对抗我强大的记忆力。<br/>
    因为毕竟，<br/>
    你是我的独家记忆。<br/><br/>
    2017.09.07

  </div>

  <div *ngIf='count == 3'>
    My feeling for LA is mixed. A lot of my university classmates treat LA as their second-hometown. For me, LA whitenessed
    most of my sorrows and happiness during those two years. I appreciated the warm sunshine and warm people there, while
    I am also not able to forget the nights when I sat alone crying. <br/><br/>

    First day: 2015.09.11, the day when I first entered the land of the US. I got picked up from LA airport by warm-hearted UCLA students.
    Sitting on the car and looking at the street view, I was kind of disappointed. It is soooooo different from what I though
    LA should be. ...... <br/><br/>

    Host Family:
    <br/><br/>

    Graduation Ceremony:
    <br/><br/>
  </div>

  <div *ngIf='count == 4'>
    ccc
  </div>

  <div *ngIf='count == 5'>
    ccc
  </div>

  <div *ngIf='count == 6'>
    ccc
  </div>

    <div *ngIf='count == 7'>
      多年以后，也许我还会记得，那个奥斯汀的夜晚。<br/>
      Years later, I might still remember the night in Austin.<br/><br/>

      这次的德州之行，基本是毫无准备的一次旅行。却也意外的有随遇而安的美感。<br/><br/>

      11.23<br/>
      赶在上飞机前匆匆忙忙趁着黑五下了几个订单，结果忘带了一堆东西，这也就奠定了之后几天随遇而安一脸懵逼的总基调【微笑脸】。<br/>
      飞机上，霍老师、岱颖和颖达精力旺盛地一直在玩斗地主，我这对纸牌类游戏只有三秒钟记忆力的人只能默默在过道的另一端，把之前一直落下的《目送》的最后几章读完，读着读着竟然湿了眼眶。闭上眼睛，脑海中反复地浮现着作者父亲喃喃的那几首诗。你说天高地迥，觉宇宙之无穷，你说兴尽悲来，识盈虚之有数，你说白日依山尽，黄河入海流，你说人生不想见，动如参与商。这一条路太漫长，这一条路来回往复，然而，你只能一个人走。
      飞机飞了好久，才意识到原来德州离西雅图那么远。想当初之所以选择去德州还是因为觉得德州比纽约近很多呢，果然凡事都得有个比较啊呵呵呵。<br/>

      飞机落地时天已经黑了，一行人匆匆去租了mini van，赶往之前想去的餐厅，却发现感恩节餐厅不开门。历史总是惊人的相似，想想去年感恩节和组长他们去yousemite的时候也是这种情况。好不容易找到一家开门的日料店，吃完饭匆匆赶往定好的民宿。之前和host已经电话确认过开门流程，没想到到了现场还是一脸懵逼。我说大哥，你这躲在垃圾堆后面的侧门也忒隐蔽了吧。打开侧门抹黑往里走，隐隐听见什么东西低吼的声音，经确认是狗的声音，吓得宝宝腿软==很怂的站在门外等小伙伴们取回了开门的钥匙，终于成功入住。
      民宿和想象中差不多，但是男生们的睡觉环境有点儿太差了，觉得特别愧疚特别对不起他们。而且我和璐岑还住在了主卧的大king size的床上，特别感激因为知道我没法和别人同睡一张床而照顾我迁就我的小伙伴们，默默打定主意等到了Austin一定要让大家睡好一点儿。
      晚上大家在楼下玩牌，电视里放的恐怖片以及house神秘诡异的氛围把我凝吓到了，所以说嘛少看点儿恐怖片就不会脑洞那么大==晚上睡觉的时候发现不仅没带U型枕，T恤，甚至连睡衣都没带。。。也不知道我满满一个箱子都装了些什么【懵逼脸】<br/><br/>

      11.24<br/>

      失眠了一晚上，我什么时候才能习惯和别人同睡一张床。。早上起来和璐岑去附近逛了一下，中途有一辆车在一个stop sign那儿停在我们俩身边，把我们吓个半死。看到了好旧好旧的老爷车。<br/>

      中午吃了一个贵贵的牛排餐厅，装潢很漂亮，大概因为圣诞节快到了，整个餐厅都是圣诞节的装饰风格。浪费了半块牛排，为什么我的胃那么小我也不知道。。大概都分给另一个甜品胃了。成功向大家安利candy man的游戏，由此带偏本次旅行的总基调【呵呵呵】。<br/>

      下午去看了艺术博物馆和莱斯大学。 艺术馆的很多展品还是很有特点的，但是有些真的就看不懂了。一块纸上涂满黑色，题目还叫untitled，这我觉得我好像也会画咧。莱斯大学蛮大的，有像UCLA一样的小松鼠，图书馆旁边的小树林里还有吊床。<br/>

      晚上吃了一家巨好吃的墨西哥餐厅，西语翻译过来叫蜗牛餐厅。生牛肉片很好吃！去了一家叫poison girl的bar，居然和我的香水一个名儿，哈哈哈。<br/><br/>

      11.25<br/>
      早上去了space center。听了退役航天员的presentation，坐tour bus参观了mission control room，看到了真实的火箭。非常鼓舞人心。我总是很好奇，究竟是怎样一种好奇心，可以让一个人冒着生命的危险去探索未知的宇宙。我这种贪生怕死之人，大概一辈子也不会懂了。<br/>

      下午开车赶往Austin，check in airbnb之后，开车到downtown的一家cafe吃了美式晚餐。味道还不错，就是每一盘都好小！我说大哥你又不是米其林餐厅，干嘛这样嘛，此时突然想念沙县小吃大盘鸡【微笑脸】。<br/>
      今晚的住宿非常棒，终于弥补了Houston住宿的不足。晚上大家又开始将德扑卖药进行到底。。。<br/><br/>

      11.26<br/>
      今天去了state capital，参观了州政府大楼，不过周末很多展厅都没有开门，走马观花地看了一圈。然后参观了UT Austin的museum。下午去古董店之后，把岱颖颖达送到了机场。
      没能赶上山顶的日落，不过吃到了超赞的BarBecue。吃到了插着两把刀的巨型牛排，五个人吃一份居然还绰绰有余。<br/>

      晚上和大家聊了很多，其实自己的所有烦恼都来源于自己的野心配不上自己的努力，以及努力错了方向。很庆幸有这样一次谈话，醍醐灌顶，感激不尽。<br/>

      晚上小伙伴很照顾我的让我一个人睡了一张床，感动哭==<br/>

      睡了四个小时，第二天四点赶往了机场。早上八点睡眼惺忪地到了西雅图。新的一周又开始啦~<br/>

    </div>

    <div *ngIf='count == 8'>
      ccc
    </div>

    <div *ngIf='count == 9'>
      ccc

    </div>
  </div>
</div>
