<div class="header">
  <div class="title">
    <p class="middle-text">
      {{title }}
    </p>
  </div>
  <div class="blogs">
    <div *ngIf='count == 1'>
      One car, 6 people, 7 days. <br/><br/>
      It's my first road trip since I came to the US. Juanli and Ailing flew from Chicago to LA to meet
      four of us and then we drove from Los Angeles directly to the Vegas.<br/><br/>
      Day 1: Sitting on the passenger's seat for 6 hours,
      my face got burnt. But I enjoyed helping the driver look at the GPS. We had a seafood buffet in the Caesar and settled down
      at the Hilton Hotel. We were almost late for the Kai Show, but luckily we didn't miss it. Though
      I don't quite understand what the show is about even after watching, I was still shocked by the
      fancy stage. After the show, we went to a Casino. One funny thing is that, Terry was trying the Slots in a Casino and got the lucky to
      win $17. He wanted to continue the gambling but the other five of us shouted "Stop" all together. We are on the
      same wavelength haha. <br/><br/>
      Day 2: After visiting the fire state park, we headed to Page. At page, we caught the splendid sunset. The dinner
      at a Mexico restaurant was a solid one. The waiter set the food on fire in front of us. <br/><br/>
      Day3:<br/>
      Today we are Heading to the antelope valley. The view of the antelope valley is splendid.
      We then went to the Horseshoe Bend as well. Timid as I was, I took the photo at the cliff with my legs being all of a tremble.
      <br/><br/>
      Day4: <br/>
      Today we went to the Grand Canyon and spent almost a day there. Tired and exhausted, we arrived at the airbnb near Scottsdale and were shocked
      by the great decoaration of the house.<br/><br/>

      Day5: <br/>
      As a mixture of cultural and modern, the downtown Scotsdale is much better than I expected. A lot of fancy souvenir stores and distinctive handicrafts stores are there. The
      insects that are made of iron, the picture that are drawn on medal, the handcrafts from the ancient Indian people, I was fascinated by all of those things and was
      even starting to think about living in a town like this when I grow old.
    </div>

  <div *ngIf='count == 2' class="test">
    你离开的第五天，<br/>
    我依然，<br/>
    失败地没能戒掉你.<br/>
    如果可以选择失去一项技能，<br/>
    那么我会选择，<br/>
    不要对那些失去的美好，<br/>
    持有那么深刻的记忆。<br/><br/>

    我想，<br/>
    西雅图需要一场大雨，<br/>
    来冲刷你存在过的气息。<br/>
    哦不，<br/>
    最好是一场大雪，<br/>
    才能抹去你留下的痕迹。<br/><br/>

    在时差六小时的多伦多，<br/>
    是否，<br/>
    也有人像我一样，<br/>
    小心翼翼地为你准备惊喜？<br/>
    在微凉的西雅图的我，<br/>
    这几天不知道喝醉几次，<br/>
    醉了又醒。<br/><br/>

    你放心，<br/>
    从明天起，<br/>
    我会像以前那样，<br/>
    好好对自己。<br/>
    健身，读书，充实自己。<br/><br/>

    我只是，<br/>
    需要一点儿时间，<br/>
    来对抗我强大的记忆力。<br/>
    因为毕竟，<br/>
    你是我的独家记忆。<br/><br/>
    2017.09.07

  </div>

  <div *ngIf='count == 3'>
    Some places that you need to go if you are in Los Angeles: <br/>
    Campus: UCLA and USC <br/>
    Food: Korean Town, Small Japan and China Town<br/>
    Museum: Getty Museum<br/>
    City View: The Griffith<br/>
    Shopping: Third Street and Santa Monica Beach<br/>
    Sports: The Stample Center<br/>
    The Wall of Fame <br/>

  </div>

  <div *ngIf='count == 4'>
    我在垦丁，天气晴。
    毕业旅行和大学好友们去了台湾，在最好的季节去了最美的地方,和我最爱的人儿们。<br/><br/>
    Day1: <br/>
    做了凌晨的飞机到达台北。checkin之后去民宿旁边的街道上购买公交卡，电话流量卡，换台币。711里面的牛奶都很好喝，在台湾以外的711，我
    再也没有喝过这么好喝的牛奶。今天下了一天雨，晚上去101大厦吃了晚饭，参观了诚品书店。<br/><br/>

    Day2-3:<br/>
    坐火车到了高雄，租了自行车在国立中山大学骑行。太阳很晒，牛奶冰好好吃。<br/>
    <br/>

    Day4-5:<br/>
    垦丁海滩的夕阳很美。
    垦丁的夜市彻底摧毁了我不吃夜宵的习惯。大肠包小肠，炸鲜奶，所有都好好吃。<br/>
    起了个大早骑着摩托车去看日出，一辈子难忘的记忆。
    在海滩玩了香蕉船还有另外一种船。看着挺平和的运动，怎么实际坐上去感觉被骗了。。得非常努力的抓住扶手才能保证不被甩到海里，结果
    下来之后店家说就是要估计甩到海里才比较爽？！【懵逼脸】<br/><br/>

    Day6-7:
    在花莲找了个特能说的导游，带着我们玩了一天。去了七星崖，吃了黄鱼面，还要夜市的"棺材板"超好吃。<br/><br/>

    Day8-9: <br/>
    乘大巴去了北回归线。。还有一堆景点，忘了名字了。。 <br/><br/>

    Day6:<br/>
    回到台北，参观了台大，正好赶上当地的毕业典礼，见到了很多毕业生带着家人在校园里合照，超温馨。 <br/>


  </div>

  <div *ngIf='count == 5'>
    作者太懒了。。。作者表示决定先暂时贴点儿百度上的文字凑数。<br/>
    // This should be re-implemented some time <br/><br/>
    胜利之吻，中途岛号航空母舰博物馆：“中途岛”号于1992年4月宣布退役，是美国使用时间最久的航空母舰，这里是航空迷必到之处。胜利之吻(Victory Kiss），是一尊美国海军士兵在二次大战胜利之时与女友相见一吻的雕像，后被视为二战结束的纪念象征之一。该巨大塑像与“中途岛”号航空母舰(Midway Aircraft Carrier)相邻，现已成为圣迭戈的地标，和塑像合照是来圣迭戈必做的事情之一。
    <br/><br/>
    巴尔博亚公园： 如果在圣迭戈市内只能选一个地方游览，那么必须是巴尔博亚公园。
    该园是加州1915年世界博览会旧址，世博会场馆大部分已拆除，现在有14座顶级博物馆、4个剧院、复合式运动场、玫瑰园及日式庭园等，每一处都值得驻足观赏。园内的建筑一改美式简约风，而是采用了繁复的雕刻将建筑元素完美组合。1977年，巴波亚公园被评定为国家历史地标。<br/><br/>

    拉霍亚海湾: 拉霍亚的海岸线蜿蜒出自然的峡谷，被誉为加州海岸线上的瑰宝。这里的水质非常清透，奇形怪状的礁石和小岛随处都是，各种鸟类齐聚一堂，是休闲散步看日落的不二之选。很多人都喜欢Children Pool这个区域，它由海堤围住的一个小沙滩，本来的用意是要制造一个游泳区域，不过后来沙子慢慢淤积，就变成了个沙滩。成群的野生海狮会趴在这里的沙滩和礁石上睡觉，鹈鹕(Pelican)和海狮共用礁石的情况很多，但是它们总是能和平共处，不像海狮之间那么爱争抢地盘。喜欢水上运动的你更可以在此浮潜、游泳。
    <br/><br/>
    圣迭戈动物园: 圣迭戈动物园坐落在偌大的巴尔博亚公园内，是全球最先进的动物园之一，也是世界上为数不多的拥有大熊猫的动物园之一。在这里栖息着800多种动物：有澳洲的考拉和袋鼠、极地的北极熊、罕见的食蚁兽等等，由于占地太过辽阔，建议你乘坐免费游览车进行参观。
    <br/><br/>

  </div>

  <div *ngIf='count == 6'>
    作者太懒了。。。作者表示决定先随便写几个字凑数。<br/>
    // This should be re-implemented some time <br/><br/>

    爸爸妈妈在我毕业后来美国找我，于是我有机会和他们一起沿着一号公路开了一遍。一号公路要从北往南开，这样海就在公路的旁边。<br/>
    SF: <br/>
    三番对我总是不太友好，每次去都是刮风下雨==但是我还是喜欢它。<br/>
    金门大桥<br/>
    九曲花街<br/>
    pier39<br/>
    码头周边<br/><br/>

    Bay Area： <br/>
    人生目标是，40岁的时候能在Stanford读个书。 <br/><br/>

    San Luis Obispo： <br/>
    太美的一个小镇，想在这儿生活一辈子。<br/><br/>

    Santa Barbara:<br/>
    丹麦村：Solvang是丹麦语，意思是“阳光田园”。它是一个由20世纪初期来自丹麦的移民，通过全盘移植故乡丹麦的建筑风格以及社区规划，而创造出来 的一处在美国境内的丹麦风情小镇。据统计，这里三分之二的常驻人口为丹麦后裔。所以说，如果你人在北美洲，何必不远千里飞往北欧丹麦去体现丹麦风情呢? 来这里就可以了。何况在这里，人人都懂英语。
    <br/>
    <br/>

  </div>

    <div *ngIf='count == 7'>
      多年以后，也许我还会记得，那个奥斯汀的夜晚。<br/>
      Years later, I might still remember the night in Austin.<br/><br/>

      这次的德州之行，基本是毫无准备的一次旅行。却也意外的有随遇而安的美感。<br/><br/>

      11.23<br/>
      赶在上飞机前匆匆忙忙趁着黑五下了几个订单，结果忘带了一堆东西，这也就奠定了之后几天随遇而安一脸懵逼的总基调【微笑脸】。<br/>
      飞机上，霍老师、岱颖和颖达精力旺盛地一直在玩斗地主，我这对纸牌类游戏只有三秒钟记忆力的人只能默默在过道的另一端，把之前一直落下的《目送》的最后几章读完，读着读着竟然湿了眼眶。闭上眼睛，脑海中反复地浮现着作者父亲喃喃的那几首诗。你说天高地迥，觉宇宙之无穷，你说兴尽悲来，识盈虚之有数，你说白日依山尽，黄河入海流，你说人生不相见，动如参与商。这一条路太漫长，这一条路来回往复，然而，你只能一个人走。<br/>
      感觉飞机飞了好久，才意识到原来德州离西雅图那么远。想当初之所以选择去德州还是因为觉得德州比纽约近很多呢，果然凡事都得有个比较啊呵呵呵。<br/>

      飞机落地时天已经黑了，一行人匆匆去租了mini van，赶往之前想去的餐厅，却发现感恩节餐厅不开门。历史总是惊人的相似，想想去年感恩节和组长他们去yosemite的时候也是这种情况。好不容易找到一家开门的日料店，吃完饭匆匆赶往定好的民宿。之前和host已经电话确认过开门流程，没想到到了现场还是一脸懵逼。我说大哥，你这躲在垃圾堆后面的侧门也忒隐蔽了吧。打开侧门抹黑往里走，隐隐听见什么东西低吼的声音，经确认是狗的声音，吓得宝宝腿软==很怂的站在门外等小伙伴们取回了开门的钥匙，终于成功入住。
      民宿和想象中差不多，但是男生们的睡觉环境有点儿太差了，觉得特别愧疚特别对不起他们，默默打定主意等到了Austin一定要让大家睡好一点儿。
      晚上大家在楼下玩牌，电视里放的恐怖片以及house神秘诡异的氛围把我凝吓到了，所以说嘛少看点儿恐怖片就不会脑洞那么大==晚上睡觉的时候发现不仅没带U型枕，T恤，甚至连睡衣都没带。。。也不知道我满满一个箱子都装了些什么【懵逼脸】<br/><br/>

      11.24<br/>

      早上起来和璐岑去附近逛了一下，中途有一辆车在一个stop sign那儿停在我们俩身边，把我们吓个半死。看到了好旧好旧的老爷车。<br/>

      中午吃了一个贵贵的牛排餐厅，装潢很漂亮，大概因为圣诞节快到了，整个餐厅都是圣诞节的装饰风格。浪费了半块牛排，为什么我的胃那么小我也不知道。。大概都分给另一个甜品胃了。成功向大家安利candy man的游戏，由此带偏本次旅行的总基调【呵呵呵】。<br/>

      下午去看了艺术博物馆和莱斯大学。 艺术馆的很多展品还是很有特点的，但是有些真的就看不懂了。一块纸上涂满黑色，题目还叫untitled，这我觉得我好像也会画咧。莱斯大学蛮大的，有像UCLA一样的小松鼠，图书馆旁边的小树林里还有吊床。<br/>

      晚上吃了一家巨好吃的墨西哥餐厅，西语翻译过来叫蜗牛餐厅。生牛肉片很好吃！去了一家叫poison girl的bar，居然和我正在用的香水一个名儿，缘分呐哈哈哈。<br/><br/>

      11.25<br/>
      早上去了space center。听了退役航天员的presentation，坐tour bus参观了mission control room，看到了真实的火箭。非常鼓舞人心。我总是很好奇，究竟是怎样一种好奇心，可以让一个人冒着生命的危险去探索未知的宇宙。我这种贪生怕死之人，大概一辈子也不会懂了。<br/>

      下午开车赶往Austin，check in airbnb之后，开车到downtown的一家cafe吃了美式晚餐。味道还不错，就是每一盘都好小！我说大哥你又不是米其林餐厅，干嘛这样嘛，此时突然想念沙县小吃大盘鸡【微笑脸】。<br/>
      今晚的住宿非常棒，终于弥补了Houston住宿的不足。晚上大家又开始将德扑卖药进行到底。。。<br/><br/>

      11.26<br/>
      今天去了state capital，参观了州政府大楼，不过周末很多展厅都没有开门，走马观花地看了一圈。然后参观了UT Austin的museum。下午去古董店之后，把岱颖颖达送到了机场。
      没能赶上山顶的日落，不过吃到了超赞的BarBecue。吃到了插着两把刀的巨型牛排，五个人吃两份居然还绰绰有余。<br/>

      晚上和大家聊了很多，其实自己的所有烦恼都来源于自己的野心配不上自己的努力，以及努力错了方向。很庆幸有这样一次谈话，醍醐灌顶，感激不尽。<br/>

      晚上小伙伴很照顾我的让我一个人睡了一张床，感动哭==<br/>

      睡了四个小时，第二天四点赶往了机场。早上八点睡眼惺忪地到了西雅图。精神抖擞出门去，睡眼惺忪回家来。新的一周又开始啦~<br/>

    </div>

    <div *ngIf='count == 8'>
      One best thing of living in Seattle is that it is so convenient to go to Canada.
      加拿大的签证是可以邮寄办理的，十分方便，有效期十年。
      于是在实习结束拿到offer之后，我便喜滋滋地去了一趟温哥华。
      温哥华给我的感觉很质朴，不张扬，甚至有点儿破旧。<br/><br/>

      Day 1 <br/>
      从西雅图downtown的convention center坐大巴，可以直达温哥华。中途需要越过国境线，出境大概需要排队十分钟。不知道是不是因为阴雨的关系，
      九月初的温哥华已经有点儿微凉了。<br/>
      温哥华的第一站是Granvile Island。大巴停在温哥华的北部，我们乘坐当地的小快艇上到了岛上。这是一个生鲜市场，和派克市场很像， 有卖各种
      小吃蔬果纪念品。市场旁边有小码头，停着几艘小快艇。<br/>
      订的airbnb离市场很近，checkin之后我们就前往中国城觅食。中国城出乎意料的破旧。到中国城的时候大约是晚上四点，百分之七十的店已经关门了。
      不知道是因为生意不景气还是因为温哥华人民的生活太悠闲。中国城清一色的都是广东人，饭馆也都是广东饭馆。我们看到一家饭店外面的招牌写着烧烤，
      立马饿狼扑食般的冲进去，结果发现所谓烧烤原来是烤鸭烧鹅。。果然在温哥华找吃的还是应该去Richmond。
      温哥华的夕阳很美，落日照在湖面上，有一种异常的宁静。<br/> <br/>

      Day2：<br/>
      一大早，我们就从民宿坐公交到了Stanley park。前一天我们找换钱的小店换了一些加元，然后在便利店买了3day bus pass。后来
      实践证明其实bus pass并不是那么有用。。租了辆自行车在史丹利公园骑行，看到了很多沿湖锻炼的人们。这不就像green lake嘛！果然
      和西雅图人民的生活方式都差不多。不过stanley park要大多了，公园里还可以看见一座形状很像金门大桥的桥，但是是绿色的。<br/>
      换了自行车，我们去了Gas Town。它位于市中心东北角，是温哥华最古老的一区，作为温哥华的发祥地而文明，如今这是一片在现19世纪街区的区域。
      树立在交叉路口的蒸汽钟是这里的标志，他每隔15分钟就会从蒸汽管中发出汽笛一样的声音。
      在就是树立在枫树广场上乔治61盖士的铜像，Gastown便是以他的名字命名的。在街道两边经过装修的旧屋，现在已经成为了各种古董店、纪念品店、画廊及餐厅。
      但不管店内的东西怎么潮，这里还是飘逸着19世纪旧温哥华气息的旧街。<br/>
      晚饭时分，我们去了Dark table。这是一家很有特色的餐厅，因为这家餐厅伸手不见五指，它的所有服务员都是盲人。进入餐厅之前，要先点好菜（因为
      一进餐厅就什么都看不见了）。餐厅会为每位客人准备一道special course，当然餐厅会问清楚你的禁忌和过敏的食物。之后盲人服务员会搀扶你
      就坐，会带着你感受一下桌子在哪，刀叉在哪。能感觉到餐厅的布置十分拥挤，邻桌的人离我们很近。其实这样的餐厅应该蛮盈利的，连电费、装修都省了，还能帮助
      盲人找到工作机会，造福社会。菜上上来了，我抹黑找到刀叉，挑起pasta就往嘴里放，吃到最后我都不知道我到底有没有把pasta吃完。。。庆幸还好点的不是米饭，
      要不然得更费劲了。<br/>
      本来打算饭后去UBC看看的，但是吃完饭发现已经太晚了，于是就去餐厅附近的小海滩逛了逛。坐在野海滩的长椅上，能看到对岸灯火通明的维多利亚港。看着水面上开过的游轮，
      颇有种老人与海的感觉。从海滩回来，优秀的发现迷路了【微笑脸】。两个人在九点多的温哥华东找西找终于回了家，夜晚在不熟悉的城市行走，还是有点儿吓人的。 <br/><br/>

      Day3: <br/>
      在一家法国餐厅吃了Brunch，就要和温哥华说再见啦。后会有期，我温柔的温哥华。 <br/>

    </div>

    <div *ngIf='count == 9'>
      赶在实习开始之前去了趟波特兰。西雅图到波特兰只有三小时的车程，在union station就有直达波特兰的小火车，火车内的布局和国内高铁很像。<br/><br/>
      Day1: <br/>
      租了一辆zipcar，两个新手司机就这样抖手抖脚地上路了。第一站，Powell's City of Books。这个号称世界最大独立书店的鲍威尔，目前在波特兰市有5家连锁分店，约500名员工，
      我们去的总部旗舰店更是占据了整整一个街区。与许多小本经营的独立书店相比，鲍威尔书城几乎可以满足你的一切需求——无论什么书，只要你能想得到，就能在这里找到。
      店内还设有咖啡厅。<br/>
      下午我们开启了老年游模式，去了波特兰森林公园。波特兰森林公园是一个位于美国俄勒冈州波特兰市中心以西、图拉丁山脉上的公共市政公园，在山坡上绵延超过13公里，可以俯瞰威拉米特河，是全美最大的城市森林保护区之一。 <br/>
      从公园出来，我们专门跑去买了有名的Salt & Straw ice cream，并为此付出了90刀停车罚款。 <br/><br/>

      Day2: <br/>
      第二天一早去了Japanese Garden。波特兰日本花园坐落在华盛顿公园之中，面积5.5英亩，是一座半传统日式花园，1967年对公众开放。花园将西方形式和日本元素结合的异常完美。
      按照传统设计，花园一般包含着代表地球的三个元素：石头代表高山和岛屿，水代表中心和纯洁，植物则代表着色彩和成长。这些主题在波特兰日本花园中的显而易见的。日本花园更偏重于园艺的精巧与秀丽，既可以在其中看到美国西海岸著名的红杉树，也可以看到具有日本特色的植物，
      当然，这里到处可见小小的瀑布和石间流水。 波特兰日本花园是日本本土以外日式花园的佳作，每年还会举行一些活动和文化节日庆典，几乎每年都会吸引超过20万游客前来参观游览。
      <br/>
      最后一站当然是购物啦。奥特莱斯是波特兰的必去之处，因为波特兰是免税州。波特兰有两个outlets，我们去了北边的那个。但是这个奥特莱斯坑爹的一点在于uber可以到达这里，但是不能从这里发车。。。所以如果要去的话还是开车去吧。。。<br/>

    </div>
  </div>
</div>
