<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="contact-body">
  <div class="left">

      <object width="100%" height="100%" type="application/pdf" data="../assets/Resume_Jun%20Li.pdf" id="pdf_content">
        <p>Oops, something is wrong here >.< The resume can not be shown for some reason. Please visit https://www.linkedin.com/in/junli9393/ for my resume information. </p>
      </object>

    <!--<form [formGroup]="emailForm" (ngSubmit)="onSubmit(emailForm)" class="form">-->
      <!--<p class="name"> Name: </p>-->
      <!--<input type="text" class="form-control" formControlName="firstName" />-->
      <!--&lt;!&ndash;<span *ngIf="emailForm.controls.firstName.invalid"> Name is required!</span>&ndash;&gt;-->
      <!--<br />-->
      <!--Content:-->
      <!--<textarea type="email" class="form-control" formControlName="content" id="email-content">-->
      <!--</textarea>-->
      <!--<br />-->
      <!--<button class="btn btn-default" [disabled]="emailForm.invalid">Send</button>-->
      <!--<br />-->
      <!--<br />-->

      <!--{{ message }}-->
      <!--&lt;!&ndash;<br />&ndash;&gt;-->
      <!--&lt;!&ndash;Valid: {{ emailForm.valid}}&ndash;&gt;-->
      <!--&lt;!&ndash;<br />&ndash;&gt;-->
      <!--&lt;!&ndash;Pristine: {{ emailForm.pristine }}&ndash;&gt;-->
      <!--&lt;!&ndash;<br />&ndash;&gt;-->
      <!--&lt;!&ndash;Touched: {{ emailForm.touched }}&ndash;&gt;-->
    <!--</form>-->


  </div>

  <div class="right">

    <!--airbnb-->
    <!--https://www.airbnb.com/users/show/50912556-->

    <p class="name">Contact Me</p>
    <br/>
    <a href="https://www.facebook.com/profile.php?id=100009522575792">
      <img class="graph" src="../assets/contact/facebook.svg">
    </a>

    <a href="https://github.com/junli9393">
      <img class="graph"  src="../assets/contact/github.svg">
    </a>

    <br/>

    <a href="https://www.instagram.com/junli9393/?hl=en">
      <img class="graph" src="../assets/contact/instagram.svg">
    </a>

    <a href="https://www.linkedin.com/in/junli9393/">
      <img class="graph" src="../assets/contact/linkedin.svg">
    </a>
  </div>

</div>
