.caret {
  display: inline-block;
  width: 3px;
  margin-bottom: -2px;
  margin-left: 3px;
  margin-right: -4px;
  height: 16px;
  animation: blink 0.8s infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}



body {
  padding: 10px 30px;
  font-family: Consolas, monaco, monospace, courier;
  background-color: #111;
  color: green;
}

code {
  background-color: #0D3A0D;
}

input[type="text"] {
  background-color: #111;
  font-family: Consolas, monaco, monospace, courier;
  color: green;
  border: none;
  outline: none;
  width: 90%;
}
